{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="landingsection">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">
            <img src="{% static 'images/landing.png' %}" class="img-fluid" alt="testimonial">
        </div>
        <div class="col-sm-12 col-md-6  col-lg-4 ">
          <h1 class="page-head text-center">Kindness</h1>
          <p class="text-center page-subhead">A subscription based donation service <br> New charities picked every month</p>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}