{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main-container">
  
  <section class="landingsection">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">
            <img src="{% static 'images/landing.png' %}" class="img-fluid" alt="testimonial">
        </div>
        <div class="col-sm-12 col-md-6  col-lg-4 ">
          <h1 class="page-head text-center">Kindness</h1>
          <p class="text-center page-subhead">A subscription based donation service <br> New charities picked every month</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="section-head text-center pb-5">About Us</h2>
      <div class="section-text">
        <p class="text-center">It can be tough to remeber to donate to charity, Even picking a charity can be a struggle since there are so many.Thats why we made kindness</p>
        <p class="text-center">Kindness allows users to subscribe to a donation plan. Each month we will donate all the subscriptions to a kindness approved charity. Once you subscribe you will also get access to our shop where you can buys so sick kindess merch.</p>
      </div>
    </div>
  </section>
  
  

 </div> 
 {% endblock %}
