{% extends "base.html" %}
{% load static %}
{% block content %}

  
  <section class="landingsection">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">
            <img src="{% static 'images/landing.png' %}" class="img-fluid" alt="testimonial">
        </div>
        <div class="col-sm-12 col-md-6  col-lg-4 ">
          <h1 class="page-head text-center">Kindness</h1>
          <p class="text-center page-subhead">A subscription based donation service <br> New charities picked every month</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="headingcontainer">
        <h1><i class="fas fa-heart mx-3"></i></h1>
        <h2 class="section-head text-center pb-5">About Us</h2>
        <h1><i class="fas fa-heart mx-3"></i></h1>
      </div>
      <div class="section-text">
        <p class="text-center">It can be tough to remeber to donate to charity, Even picking a charity can be a struggle since there are so many.Thats why we made kindness</p>
        <p class="text-center">Kindness allows users to subscribe to a donation plan. Each month we will donate all the subscriptions to a kindness approved charity. Once you subscribe you will also get access to our shop where you can buys so sick kindess merch.</p>
      </div>
    </div>
  </section>
  
  <section class="section">
    <h2 class="text-center section-head pb-5">How it Works</h2>
    <div class="container how">
      <div class="row d-flex justify-content-around">
        <div class="col-sm-12 col-md-4 col-lg-4 z-depth-1 py-5 px-5">
          <i class="fas fa-user-plus how-icons"></i>
          <h5 class="how">Subscribe</h5>
          <p class="hsmall">Choose a Donations package</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 z-depth-2 py-5 px-5">
          <i class="fas  fa-shopping-cart how-icons"></i>
          <h5 class="how">Shop</h5>
          <p class="hsmall">Gain access to our exculsive shop</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 z-depth-1 py-5 px-5">
          <i class="fab fa-readme how-icons"></i>
          <h5 class="how">Update</h5>
          <p class="hsmall">We will update you with the charity of the month once is have been picked</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <h2 class="section-head text-center pb-3">Testimonials</h2>
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-9 col-xl-7">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <figure class="text-center mb-0">
                  <blockquote class="blockquote">
                    <p class="pb-3">
                      <i class="fas fa-quote-left fa-xs text-primary"></i>
                      <span class="lead font-italic">Kindenss is a great way to donate to charity</span>
                      <i class="fas fa-quote-right fa-xs text-primary"></i>
                    </p>
                  </blockquote>
                  <figcaption class="blockquote-footer mb-0">
                    Dave
                  </figcaption>
                </figure>
    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-9 col-xl-7">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <figure class="text-center mb-0">
                  <blockquote class="blockquote">
                    <p class="pb-3">
                      <i class="fas fa-quote-left fa-xs text-primary"></i>
                      <span class="lead font-italic">I love the kindess merch</span>
                      <i class="fas fa-quote-right fa-xs text-primary"></i>
                    </p>
                  </blockquote>
                  <figcaption class="blockquote-footer mb-0">
                    Bob
                  </figcaption>
                </figure>
    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="controls-top text-center">
    <a class=" sliderbtn btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    <a class=" sliderbtn btn-floating" href="#multi-item-example" data-slide="next"><i
        class="fas fa-chevron-right"></i></a>
  </div>
</div>
</section>
 {% endblock %}
