{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="text-center my-5  login-head">Checkout</h1>
    <div class="order-summary">
      <h6 class=" text-center mt-5">You Plan to donate:</h6>
      <p class="text-center">€{{ selected_membership.price}}<small> per month</small></p>
    </div>
  </div>
  <div class="container">
    <form id="payment-form" method="POST" action="{% url 'subscribe'%}" class="mt-5">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <h6 class="">Your Details</h6>
          {{ form.full_name | as_crispy_field }}
          {{ form.email | as_crispy_field }}
          {{ form.phone_number | as_crispy_field }}
          <div>
            <h6>Card Details</h6>
            <div id="card-element">
              <!-- Elements will create input elements here -->
            </div>
            <!-- We'll put the error messages in this element -->
            <div class="mb-3 text-danger" id="card-errors" role="alert">
            </div>
          </div>
          <div id="stripe-token-handler" class="hidden"><span class="token"></span></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <h6 class="">Billing Details</h6>
          {{ form.street_address1 | as_crispy_field }}
          {{ form.street_address2 | as_crispy_field }}
          {{ form.town_or_city | as_crispy_field }}
          {{ form.postcode | as_crispy_field }}
          {{ form.county | as_crispy_field }}
          {{ form.country | as_crispy_field }}
        </div>
      </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-6 col-md-6 col-lg-3">
          <button id="buttonsubmit" class="btn login-btn mt-5 mb-5">Confirm Payment</button>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'js/subscription.js' %}"></script>
{% endblock %}