:root {
    /*p for primary, s for secondary, t for tertiary*/
    --darkpurple:#160C28;
    --purple: #5E2BFF;
    --darkgreen: #339989;
    --green:#7DE2D1;
    --lightgreen: #023618;
  }
 
.landingsection
{
    padding-top: 2rem;
}
.page-head
{
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
    font-size: 4rem;
    margin-top: 4rem;
    color: #339989;
}
.page-subhead
{
    font-family: 'Bitter', serif;
    font-size:1.5rem;
}

.nav-link
{
    color: var(--darkpurple)!important;
}
.section{
    padding-top: 4rem;
}
.section-text{
    font-family: 'Bitter', serif;
    font-size: 1.2rem;
}
.sectionhead
{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    letter-spacing:3px;
}
.headingcontainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;

}
.fa-heart
{
    color: var(--purple);
}
.how-icons
{
    color:var(--purple);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.how
{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    color:var(--darkgreen);
    text-align: center;
    padding-bottom: 1rem;
}
.hsmall
{
    font-family: 'Bitter', serif;
    text-align: center;
    color:black;
}
.sliderbtn
{
    font-size: 2rem;
    color: var(--purple);
}
.fa-quote-left
{
    color: var(--lightgreen)!important;
}
.fa-quote-right
{
    color: var(--lightgreen)!important;
}
.login-head
{
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
    font-size: 3rem;
    margin-top: 4rem;
    color: #339989;
}
.signin
{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-size: 2rem;
    padding-bottom: 1rem;
}
a 
{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    color: var(--purple)!important;
}
.login-btn
{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    background-color: var(--purple)!important;
    color: white;
}
.product-name
{
    font-family: 'Roboto', sans-serif;
    font-size: 30px!important;
}
.addtocart
{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    background-color: var(--darkgreen)!important;
    color: white;
}
.price
{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-size:20px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.product-name
{
    font-family: 'Roboto', sans-serif;
    font-weight:500!important;
    font-size:20px
}
.card-img-top
{
    height:300px!important
}

