:root {
    /*p for primary, s for secondary, t for tertiary*/
    --darkpurple:#160C28;
    --purple: #5E2BFF;
    --darkgreen: #339989;
    --green:#7DE2D1;
    --lightgreen: #CAFFB9;
  }

.landingsection
{
    padding-top: 2rem;
}
.page-head
{
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
    font-size: 4rem;
    margin-top: 4rem;
    color: #339989;
}
.page-subhead
{
    font-family: 'Bitter', serif;
    font-size:1.5rem;
}

.nav-link
{
    color: var(--darkpurple)!important;
}
.section{
    padding-top: 4rem;
}
p{
    font-family: 'Bitter', serif;
    font-size: 1.2rem;
}
h2
{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}