:root {
    /*p for primary, s for secondary, t for tertiary*/
    --darkpurple:#160C28;
    --purple: #5E2BFF;
    --darkgreen: #339989;
    --green:#7DE2D1;
    --lightgreen: #023618;
  }
.hidden
{
    display: none;
    visibility: hidden;
}
 .navbar-brand
 {
    font-family: 'Dancing Script', cursive;
 }
 .fa-bars
 {
    color: var(--purple);
 }
.landingsection
{
    padding-top: 2rem;
}
.page-head
{
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
    font-size: 4rem;
    margin-top: 4rem;
    color: #339989;
}
.page-subhead
{
    font-family: 'Bitter', serif;
    font-size:1.5rem;
}

.nav-link
{
    color: var(--darkpurple)!important;
    font-family: 'Roboto', sans-serif;
}
.section{
    padding-top: 4rem;
}
.section-text{
    font-family: 'Bitter', serif;
    font-size: 1.2rem;
}
.sectionhead
{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    letter-spacing:3px;
}
.headingcontainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;

}
.fa-heart
{
    color: var(--purple);
}
.how-icons
{
    color:var(--purple);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.how
{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    color:var(--darkgreen);
    text-align: center;
    padding-bottom: 1rem;
}
.hsmall
{
    font-family: 'Bitter', serif;
    text-align: center;
    color:black;
}
.sliderbtn
{
    font-size: 2rem;
    color: var(--purple);
}
.fa-quote-left
{
    color: var(--lightgreen)!important;
}
.fa-quote-right
{
    color: var(--lightgreen)!important;
}
.login-head
{
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
    font-size: 3rem;
    margin-top: 4rem;
    color: #339989;
}
.signin
{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-size: 2rem;
    padding-bottom: 1rem;
}
a 
{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    color: var(--purple)!important;
}
.login-btn
{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    background-color: var(--purple)!important;
    color: white!important;
}
.product-name
{
    font-family: 'Roboto', sans-serif;
    font-size: 30px!important;
}
.addtocart
{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    background-color: var(--darkgreen)!important;
    color: white!important;
}
.price
{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-size:20px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.product-name
{
    font-family: 'Roboto', sans-serif;
    font-weight:500!important;
    font-size:20px
}
.card-img-top
{
    height:300px!important
}

.ks
{
    color: white!important;
}
.page-nav
{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--green)!important;
}
.update-link
{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: var(--purple);
}
.remove-item
{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: var(--lightgreen)!important;
}


.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}


.signout
{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    
}
.signouttext
{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.donocard
{
    min-height: 250px;
}
.fa-donate
{
    color: var(--purple);
}
.opts
{
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
}
.detailscard
{
    min-height: 400px;
}
.for
{
  font-size: 14px;
  color: #5cc9ca;
  position: absolute;
  bottom:0;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 5px;
  margin-bottom: 5px;
}
.details
{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.overviewtitle
{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;

}