{% extends "base.html" %}
{% load static %}

{% block head_title %}Login{% endblock %}

{% block content %}
<h1 class= "login-head text-center"> Welcome to kindess</h1>
  <h1 class= "signin text-center">Please login in below</h1>
<section class="vh-90">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="{% static 'images/login.png' %}" class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form class="login text-center mt-5 section-text" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
        <div class="d-flex justify-content-center">
        <div class="col-12">
            {{ form.as_p }}
        </div>
          </div>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <a class="page-nav mt-5" href="{% url 'account_reset_password' %}">Forgot your Password?</a><br><br>
          <div class="row d-flex justify-content-center">
          <div class="col-sm-6 col-md-6 col-lg-3">
          <button class="btn button-main mt-3 btn-block" type="submit">Login</button>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}