


{% extends "base.html" %}
{% load static %}

{% block head_title %}Login{% endblock %}

{% block content %}
<h1 class= "login-head text-center"> Welcome to kindess</h1>
  <h1 class= "signin text-center">Please login in below</h1>

  <div class="container py-5 ">
    <div class="row d-flex align-items-center justify-content-center ">
      <div class="col-md-7 col-lg-6 col-xl-5">
        <img src="{% static 'images/login.png' %}" class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-6 offset-xl-1">
        <form class="login text-center mt-5 section-text" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
        <div class="d-flex justify-content-center">
        <div class="col-12">
            {{ form.as_p }}
        </div>
          </div>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="row d-flex justify-content-center">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="d-flex justify-content-around align-items-center mb-4 forgotpassword">
              <a href="{% url 'account_reset_password' %}">Forgot password?</a>
            </div>
          
            <!-- Submit button -->
            <button type="submit" class="btn login-btn btn-block">Sign in</button>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  
  

{% endblock %}