{% extends "base.html" %}
{% load static %}

{% block head_title %}Login{% endblock %}

{% block content %}
<h1 class= "login-head text-center"> Welcome to kindess</h1>
  <h1 class= "signin text-center">Please Sign Up below</h1>
<section class="vh-90">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="{% static 'images/signup.png' %}" class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form class="signup mt-5 text-center section-text" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          <div class="row d-flex justify-content-around">
          <div class="col-sm-12 col-md-6 col-lg-4">{{ form.as_p }}</div>
          </div>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="row d-flex justify-content-center">
          <div class="col-sm-12 col-md-6 col-lg-6 offset-md-1">
            <input type="submit" class="btn login-btn btn-block" value="Sign up">
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
</section>
{% endblock %}