{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <form method="GET" class="form-inline" action="{% url 'shop' %}">
    
                <input class="form-control mr-sm-2" type="search"  name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-sm btn-outline-secondary my-3 px-3 py-2" type="submit">Search</button>
        </form>
    </div>
</div>
            <div class="row">
                {% for product in products %}
                <div class="col-md-4 my-5">
                    <div class="card">
                        {% if product.image %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                <a  href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="float-left">
                               <p class="mt-3">${{ product.price }}</p>

                            </div>
                            <div class="float-right">
                              <button class ="btn addtocart ">add to cart</button>
                             </div>
                        </div>
                    </div>
                </div><!--.col-->
                {% endfor %}
            </div><!--.row-->

{% endblock %}

